ul {
  list-style-type: none;
  margin:0;
  padding: 0px;
  overflow:hidden;
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

li {
  float: left;
}

li a {
  display: block;
  color:white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

.active {
  background-color: green;

}

li a:hover:not(.active) {
  background-color: #111;
}